@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
}

li, a, button, p {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10px;
	background-color: rgb(218, 0, 0);;
}

.logo {
	cursor: pointer;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0 20px;
}

.nav-links li a:hover {
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	color: #1f0c0c;
}

button {
	padding: 9px 25px;
	border: 2px solid white;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: white;
	color: red;
}

.front {
	height: 500px;
	width: 100%;
	background-color: sandybrown;
}

.container {
	background-color: rgb(247, 247, 247);;
	height: 150px;
	width: 100%;
	display: grid;
	grid-template-columns: 20% 10% 10% 20% 10% 10% 20%;
	grid-template-rows: 100%;
	justify-items: center;
	align-items: center;
	grid-gap: 1px;
}

p {
	color: red; 
}


